
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">LMao Hieuse</h1>
    <div class="container">
        <div class="masthead-subheading">
            <span>
                Shop Giày ElonsHieuse với phương châm "Đồng hành cùng phong cách thời trang của bạn"
                sẽ là nơi mua sắm an toàn và uy tín, bởi chúng tôi luôn đề cao tiêu chí mang đến cho quý khách
                những sản phẩm chất lượng nhất với giá cả luôn phải chăng
            </span>

            <p>Địa chỉ: Ngõ 71,Phường Phương Canh,Quận Nam Từ Liêm, Hà Nội </p>
             <p>SĐT : 037019932</p>
            

        </div>
        <div class="masthead-subheading">Welcome To Our Studio!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>

 

</div>
